@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .toggle-checkbox {
    box-shadow: none !important; 
  }
  .toggle-checkbox:checked {
      @apply: right-0 border-green-400;
      right: 0;
      border-color: #68D391;
      outline: none;
      box-shadow: none !important; 
  }

  .toggle-checkbox:checked + .toggle-label {
      @apply: bg-green-400;
      background-color: #68D391;
      outline: none;
      box-shadow: none !important; 
  }

}

body, html {
  height: 100%;
  font-size: 18px;
}


/* Main page hero card gradient color overlay */
.hero-card {
  background-image: linear-gradient(to right top, #12bee5, #00b6f4, #1bacff, #58a0ff, #888fff, #ac80f2, #c970e0, #e05ec8, #ee52ad, #f64b91, #f74a75, #f24f5a);
}

.main-container {
  @apply w-full font-sans text-base text-gray-900 bg-white h-screen;
}

.layout-edit {
  @apply bg-white  max-w-4xl  2xl:max-w-screen-2xl mx-auto px-4 py-8 mt-8 mb-16 rounded-lg
}

/* On smaller screens stack forms */
.layout-edit-narrow {
  @apply max-w-4xl mx-auto flex flex-col gap-y-8;
}

@layer utilities {
  /*  For larger screens */
  .layout-wide {
    @apply mt-32 max-w-screen-2xl mx-auto xl:px-6 md:px-4
  }

  .layout-default {
    @apply my-4 lg:mt-24 lg:mb-8 w-full max-w-screen-md mx-auto px-4
  }

  .layout-edit-wide {
    /* On wide screens put 2 forms side by side */
    @apply max-w-full flex flex-row justify-center gap-x-4 gap-y-0;
  }

  .horizontal-center {
    @apply flex flex-col items-center
  }

  .text-primary {
    @apply text-slate-800 
  }
  .text-secondary {
    @apply text-slate-600
  }

  .text-primary-contrast {
    @apply text-white
  }
  .text-secondary-contrast {
    @apply text-gray-300
  }

  /* Add a small horizontal padding for main section headers */
  .h-padding-wide {
    @apply px-4 md:px-0
  }

  h1 {
    @apply text-primary text-5xl tracking-tight mb-4;
  }
  
  h2 {
    @apply text-primary text-xl font-bold tracking-tight leading-loose;
  }

  h3 {
    @apply text-2xl font-light tracking-tight text-primary
  }

  .home-hero-bg-img {
    background-size: cover;
    background-image: url('/liberty-bell-hero.jpeg');
  }
  
  .home-hero {
    min-height: 500px;
    @apply relative block top-0 left-0 bg-gray-800 home-hero-bg-img h-screen-85 w-screen
  }
  
  .height-mobile-portrait {
    height: 600px
  }

  .home-hero-mobile {
    @apply lg:hidden h-screen portrait:height-mobile-portrait w-screen bg-gray-800
  }
}
.title {
  @apply text-4xl font-bold font-sans my-4 !important;
}


code {
  @apply text-sm font-mono bg-green-100 -mx-1.5 px-1.5 py-1.5 rounded !important;
}

p {
  @apply block mb-4 text-base text-slate-900 leading-relaxed;
}

.editor-profile-container {
  @apply w-full bg-custom-avery bg-opacity-20 2xl:w-1/3 border-gray-300 border rounded-lg shadow-sm bg-white;
}

.editor-profile-header {
  @apply bg-custom-secondary border-custom-secondary border-b py-4 px-4 h-14 bg-gray-100 text-base align-middle rounded-t-lg
}

@layer components {
  .btn-small {
    @apply py-1 px-4 text-sm !important
  }

  .btn-medium {
    @apply px-6 py-2 text-lg !important
  }

  .btn-nav-secondary {
    @apply bg-ob-tertiary text-black hover:scale-110 duration-300 !important
  }

  .btn-nav {
    @apply text-white hover:scale-110 duration-300 !important
  }

  .btn {
    @apply no-underline px-6 py-1 text-gray-900 font-medium text-sm drop-shadow-lg rounded-xl;
  }

  .btn-primary {
    @apply bg-black hover:bg-custom-primary  border-2 border-black text-white;
  }

  .btn-secondary {
    @apply bg-white hover:bg-custom-primary border-2 border-black;
  }

  .btn-success {
    @apply bg-green-300 hover:bg-green-400;
  }

  .btn-candy {
    @apply bg-pink-300 hover:bg-pink-400;
  }

  .btn-text {
    @apply hover:bg-gray-200 underline shadow-none
  }

  .btn-default {
    @apply bg-gray-200 text-gray-900 border-2 border-gray-700
  }


  .link-primary {
    @apply underline hover:text-yellow-600;
  }

  .pill {
    @apply rounded-full py-1 px-4;
  }

  .slate-ToolbarButton {
    @apply fill-current text-gray-500 justify-center !important;
  }
  
  .slate-ToolbarButton-active {
    @apply fill-current text-pink-600 !important;
  }

  .edit-input {
    @apply flex-grow w-full	outline-none bg-transparent	border border-gray-300 rounded-md focus:outline-none;
  }
  .edit-input:focus {
    @apply border-2 border-gray-700 ring-transparent;
  }

  .edit-form-row {
    @apply py-4 flex flex-col items-center md:flex-row md:gap-x-4 2xl:gap-x-2;
  }
}

/* for climb profile form */
input:checked + label {
  @apply text-white;
  @apply bg-gray-700;
}

.markdown {
  @apply font-sans
}

.markdown figure+figure {
  @apply mt-12
}


.markdown figcaption {
  @apply text-gray-500 text-sm text-center my-4
}

.markdown pre {
  @apply text-sm font-mono bg-green-100 -mx-1.5 px-1.5 py-1.5 rounded !important
}

.markdown ul {
  @apply list-inside list-disc;
}

.markdown a {
  @apply underline;
}

.markdown table {
   @apply table-auto w-full;
}

.markdown table thead {
  @apply bg-custom-green bg-opacity-50;
}

.markdown table th {
  @apply p-2;
}

.markdown table td {
  @apply p-2;
}

.aa-Autocomplete {
  @apply w-full !important;
}

.aa-Form {
  @apply ring-0 rounded-full bg-white !important;
}

/*
  Autocomplete
*/
.aa-SubmitButton {
  @apply rounded-full bg-custom-primary !important;
}
.aa-SubmitIcon {
  @apply text-white !important;
}
.aa-InputWrapper {
  @apply ml-4 !important;
}

.name-search-item[aria-selected='true'] {
  @apply bg-white !important;
}

.crag-finder-item[aria-selected='true'] {
  @apply bg-slate-100 !important;}

.aa-Panel {
  z-index: 5000;
  @apply border-2 border-black;
}

.crag-finder-panelLayout {
  @apply p-0 !important;
}


.fading-hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 150ms, opacity 100ms linear;
}

/* make nprogress bar thicker */
.bar {
  padding-top: 2px;
  padding-bottom: 2px;
}